<div class="p-5 mb-4 bg-light rounded-3">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/build-guide">
        <label class="display-6 me-2">Synergy Fitness</label>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="'/'" [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/calorietracker'" [routerLinkActive]="'active'">Calorie Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">|</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [routerLinkActive]="'active'" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dev Help Links
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="'/login'">login page</a></li>
              <li><a class="dropdown-item" [routerLink]="'/user'">profile page</a></li>
              <li><a class="dropdown-item" [routerLink]="'/post'">post page</a></li>
              <li><a class="dropdown-item" [routerLink]="'/signup'">signup page</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          </li>
        </ul>
        <button id="logout" type="button" class="btn btn-secondary btn-sm pull-right">
          Log out
        </button>
      </div>
    </div>
  </nav>
</div>
