
<!-- <div class="aboutMe" [id]="'aboutMe + aboutMe.id">
    <h3><span class="placeholder">{{ aboutMe.id }}</span> {{ person.name }}</h3>
    <br>
    <h5>{{ aboutMe.media }}</h5>
    <br>
    <br>
    <p>{{ aboutMe.description }}</p>
    <br>
    <p>{{ aboutMe.age }}</p>  
    <br>
    <p> {{ aboutMe.certs }}</p>  
    <br> 
    <p>{{ aboutMe.experience }}</p>
    <button *ngIf="aboutMe.user" (click)="UpdateAboutMe()" [id]="'update' + aboutMe.id"
    [disabled]="(!this.userServ.loggedInUser || !(this.aboutMe.user = this.userServ.loggedInUser))">Update</button> -->


