<!-- <h2>{{this.user.gymUsername}}</h2> -->
<div>
<br>
<label for="aboutMeId">Enter profile id to start:</label><br>
<input type="number" class="form-control" placeholder="Enter Your Profile ID" [(ngModel)]="editAboutMe.aboutMeId" (ngModelChange)="viewAboutMe()"><br>
<br>
</div>
<div>
<label for='editAboutMe.age'>Age: </label>
<input type='number' class="form-control" placeholder="Enter Your Age" [(ngModel)]="editAboutMe.age"><br>
<br>
<label for='editAboutMe.certs'>Certifications: </label>
<input type='text' class="form-control" placeholder="Enter A List Of Certifications" [(ngModel)]="editAboutMe.certs"><br>
<br>
<label for='editAboutMe.experience'>Experience: </label>
<input type='text' class="form-control" placeholder="Enter Years Of Experience" [(ngModel)]="editAboutMe.experience"><br>
<br>
<label for='editAboutMe.description'>Description: </label>
<input type='text' class="form-control" placeholder="Enter a Description of Yourself (limit of 500 Characters)" [(ngModel)]="editAboutMe.description"><br>
<br>
</div>
<!-- <label for='editAboutMe.media'>Media: </label>
<input type='?' [(ngModel)]="?"><br> -->
<button type="button" class="btn btn-primary btn-sm" (click)="save()">Update</button>
<ng-container *ngIf="showError">
    Something went wrong. Please try again.
</ng-container>

